@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light-rgb: 0, 0, 0;
  --background-dark-rgb: 0, 0, 0;
  --background-light-rgb: 255, 255, 255;
  --foreground-dark-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: rgb(var(--background-light-rgb));
    color: rgb(var(--foreground-light-rgb));
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(var(--background-dark-rgb));
    color: rgb(var(--foreground-dark-rgb));
  }
}

a {
  text-decoration: underline;
}
